Package: onirobuilder
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: curl, unzip, python3, python3-pip, openjdk-11-jdk, git, jq, nodejs, npm
Maintainer: Francesco Pham <francesco.pham1@h-partners.com>
Description: OniroBuilder - A tool for building OpenHarmony applications.
 This package provides the 'onirobuilder' command to initialize the OpenHarmony SDK and 
 command line tools (via 'onirobuilder init') and to build OpenHarmony applications (via 
 'onirobuilder build path/to/app').

